.regular-page {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #757575;
    background: #edf3f4;

    &__wrap-content {
        direction: rtl;
        padding: 0 15px;
        text-align: center;
    }
}