@import '../../variables.scss';

.header {
    &__wrap-content {
        position: relative;
        padding: 65px 0;
        background-color: #515570;
        background-size: cover;
        text-align: center;

        @include small() {
            padding: 10px 0;
        }

        @include medium() {
            padding: 25px 0;
        }
    }

    &__icon {
        color: #fff;
        font-size: 25px;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        margin: 0;
        padding: 5px 0;
        color: #ffffff;
        font-size: 45px;
        font-weight: normal;
        line-height: 50px;
        text-transform: capitalize;

        @include small() {
            font-size: 20px;
        }

        @include medium() {
            font-size: 25px;
        }
    }

    &__subtitle {
        margin: 0;
        padding: 5px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: normal;
        line-height: 18px;
        text-transform: capitalize;

        @include small() {
            display: none;
        }

        @include medium() {
            font-size: 16px;
            line-height: 14px;
            width: 325px;
            margin: 0 auto;
        }
    }
    
}