.Shabbat {
    direction: rtl;
}

.Shabbat .topImg {
	top: 95vw;
    left: 0;
    width: 98%;
    height: 225px;
	background-image: url('images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transform: translateX(-50%);
    animation: jackInTheBox 3s linear 0.4s infinite;
    margin: 0 auto;
}

.Shabbat .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    color: #b31127;
}

.Shabbat .blessing {
	padding: 20px;
    /* margin-top: 100px; */
	direction: rtl;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: #b31127;
}
.Shabbat .title-holiday {
	position: absolute;
	top: 95vw;
    left: 0;
    width: 50%;
    height: 60px;
	background-image: url('images/title.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transform: translateX(-50%);
	animation: tada 1s linear 0.4s infinite;
}

.Shabbat .img {
	position: relative;
	width: 100%;
	height: 72vw;
	background-image: url('images/shabbat.jpg');
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*
 .Shabbat .star {
	position: absolute;
    top: 30vw;
    left: 64vw;
    background-image: url('images/s.png');
    background-size: cover;
    width: 21px;
    height: 24px;
	animation-name: flash;
	animation: tada 1s linear 0.4s infinite;
}

.Shabbat .candel {
	position: absolute;
    background-image: url(images/s.png);
    background-size: cover;
    background-position: -61px 0px;
    width: 11px;
    height: 28px;
	animation: tada 1s linear 0s infinite;
}

.Shabbat .candel-1 {
	top: 40vw;
    left: 49vw;
	background-size: cover;
	background-image: url(images/s.png);
    background-position: -91px 0;
    width: 16px;
    height: 42px;
	animation: tada 1s linear 1s infinite;
}

.Shabbat .candel-2 {
    top: 46vw;
    left: 63vw;
	animation: tada 1s linear 0.6s infinite;
}
.Shabbat .candel-3 {
    top: 46vw;
    left: 70vw;
	animation: tada 1s linear 2.2s infinite;
}

.Shabbat .candel-4 {
    top: 47vw;
    left: 33vw;
	animation: tada 1s linear 3.1s infinite;
}

.Shabbat .candel-5 {
    top: 49vw;
    left: 29vw;
}

*/